.menu {
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	opacity: 0.8;
}
.menu a {
	text-decoration: none;
	color: black;
	width: 100px;
	display: inline-block;
	padding: 15px 25px;
}
.menu a:hover {
	background-color: #ccc;
}
.header {
	text-align: center;
	color: white;
	padding: 200px 0;
	background-image: url(polygons.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 50px;
}
button {
	padding: 5px 15px;
	border-radius: 8px;
}
#about_us img {
	width: 400px;
	display: inline-block;
}
.about_us_left {
	width: 800px;
	text-align: justify;
	display: inline-block;
}
#about_us {
	width: 100%;
	text-align: center;
}
h4 {
	font-weight: normal;
	color: grey;
}
#team img {
	width: 325px;
	height: 200px;
}
.member {
	padding: 15px;
	display: inline-block;
	width: 325px;
	/*border: 2px grey solid;*/
	box-shadow: 0 2px 5px grey;
	margin: 0 3px;
}
#team {
	text-align: center;
}
.member a {
	background-color: #055b73;
	color: white;
	border-radius: 8px;
	border: 0;
	padding: 10px 110px;
	width: 100%;
	text-decoration: none;
}
.tarif li {
	list-style-type: none;
	padding: 16px 0;
}
.tarif_name {
	color: white;
	background-color: black;
	font-size: 24px;
	padding: 32px 0;
}
.pro {
	background-color: #055b73;
	padding: 48px 0 !important;
}
.tarif {
	display: inline-block;
	width: 30%;
	margin: 10px;
	padding: 0;
	vertical-align: middle;
	background-color: white;
	/*min-width: 200px;*/
}
#prices {
	background-color: grey;
	text-align: center;
	padding-top: 40px;
	margin-top: 20px;
}
span {
	font-weight: bold;
}
.tarif p {
	color: grey;
}
.with_border {
	border-bottom: 1px #dddddd solid;
}
.buy {
	background-color: #dddddd;
}
.title {
	color: white;
}
.tarif a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	background-color: black;
	border-radius: 8px;
}
#contact {
	background-color: #f1f1f1;
	text-align: center;
	padding: 40px 0;
}
.contact_address {
	background-image: url(address.png);
}
.contact_phone {
	background-image: url(phone.png);
}
.contact_email {
	background-image: url(mail.png);
}
.contact_info {
	text-align: left;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: left center;
	background-size: 18px 18px;
	margin-left: 5%;
}
#contact input {
	padding: 8px;
	width: 90%;
}
#contact button {
	background-color: black;
	color: white;
	padding: 8px 16px;
	cursor: pointer;
	border: none;
	outline: none;
}
#contact button:hover {
	background-color: white;
	color: black;
}
.footer {
	background-color: black;
	color: white;
	width: 100%;
}
body {
	margin: 0;
}